
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>iPortfolio</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0 , user-scalable=no" />
  <meta name="author" content="yjsong" />
  <link rel="shortcut icon" type="image/x-icon" href="/contents/img/icons/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/contents/img/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/contents/img/icons/favicon.png">
  <link rel="stylesheet" href="/contents/css/brand.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-54179103-18"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-54179103-18');
  </script>
  <!-- /Global site tag (gtag.js) - Google Analytics -->
</head>

<body>
	<div id="old-browser-wrap">
		<h2>
			인터넷 익스플로러를 최신 상태로 업그레이드 해주세요.
			<br />
			해당 웹 페이지는 크롬에 최적화 되어 있습니다.
		</h2>

		<ul>
			<li>
				<a href="http://windows.microsoft.com/ko-kr/internet-explorer/download-ie" title="Explorer" target="_blank">
					<img src="/contents/img/broswer/ie.png" />
					Explorer
				</a>
			</li>
			<li>
				<a href="https://www.google.com/intl/ko/chrome/browser/features.html" title="Chrome" target="_blank">
					<img src="/contents/img/broswer/chrome.png" />
					Chrome
				</a>
			</li>
			<li>
				<a href="https://support.apple.com/ko_KR/downloads/safari" title="Safari" target="_blank">
					<img src="/contents/img/broswer/safari.png" />
					Safari
				</a>
			</li>
		</ul>

	</div><!--/old-browser-wrap-->
</body>
</html>
