.button {
  display: inline-block;
  padding: 0 10px;
  line-height: 24px;
  background: gray;
  color: #fff;
  border-radius: 3px;
  font-size: 0.8rem;
  text-align: center;

  &.large {
    min-width: 80px;
    line-height: 30px;
    font-size: 0.9rem;
  }

  &.blue {
    background: #1691C5;
  }

  &.green {
    background: #27ae60;
  }

  &.red {
    background: #e6191e;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.button-wrap {
  margin: 20px 0;

  .button {
    min-width: 80px;
    line-height: 30px;
  }
}
