#msg-box {
  position: fixed;
  top: -50px;
  min-width: 120px;
  padding: 5px 20px;
  opacity: 0;
  border: solid 2px #1f6377;
  background: #49AFCD;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  transition: top 0.2s ease-in, opacity 0.2s ease-in;
}

#msg-box.visible {
  top: -2px;
  opacity: 1;
}