/*!------------------------------------------------------------ *
 * iPortfolio.css
 * Since: 2018.08.01
 * Author: youngjin song
 * ------------------------------------------------------------ */

@media screen and (min-width: 1400px) {
  #wrap {
    .container {
      max-width: 1180px;
    }

    .parallax-content {
      .parallax {
        background-size: 92%;
        background-position: 58% 38%;
      }
    }
  }
}

@media screen and (min-width: 1501px) {
  #wrap {
    .parallax-content {
      .parallax {
        background-size: auto;
        background-position: 90% 38%;
      }
    }
  }
}

@media screen and (min-width: 1601px) {
  #wrap {
    .parallax-content {
      .parallax {
        background-position: 64% 38%;
      }
    }
  }
}

@media screen and (min-width: 1901px) {
  #wrap {
    .parallax-content {
      .parallax {
        background-position: 58% 38%;
      }
    }
  }
}

@media screen and (min-width: 2101px) {
  #wrap {
    .parallax-content {
      .parallax {
        background-position: 55% 38%;
      }
    }
  }
}

@media only (min-device-width: 768px) and (orientation: landscape) {
  .mobile {
    #wrap {
      .parallax-content {
        height: 860px;

        .parallax {
          background: no-repeat 0 70px scroll;
          background-size: 220%;
        }

        article {
          padding-top: 20%;
        }
      }

      #prj-ebsrc,
      #prj-pop,
      #prj-brc,
      #prj-travalloon {
        background-attachment: scroll;
      }
    }
  }
}

@media only (min-device-width: 1024px) and (orientation: portrait) {
  .mobile {
    #wrap {
      .parallax-content {
        height: 730px;

        .parallax {
          background: no-repeat 0 70px scroll;
          background-size: 220%;
        }
      }

      #prj-ebsrc,
      #prj-pop,
      #prj-brc,
      #prj-travalloon {
        background-attachment: scroll;
      }
    }
  }
}

@media screen and (max-width: 834px) {
  html {
    font-size: 14px;
  }

  #wrap {
    #main-banner {
      .txt-wrap {
        top: 49%;
      }
      h2 {
        font-size: 3rem;
      }
      p {
        font-size: 1.2rem;
      }
    }

    #main-content {
      li:last-child {
        float: right;
      }
      .title {
        font-size: 1.35rem;
      }
    }

    #about {
      h3 {
        font-size: 2.3rem;
      }
    }

    #spindlebooks {
      h3 {
        font-size: 2.5rem;
      }

      a {
        line-height: 3.3rem;
      }
    }

    .parallax-content {
      height: auto;

      .parallax {
        float: none;
        width: 100%;
        height: 480px;
        background-attachment: scroll;
        background-size: 135%;
        background-position: -56% 33%;
      }

      article {
        float: none;
        padding: 0 0 9%;
        width: 100%;
        text-align: center;

        .appicon {
          width: 5%;
          border-radius: 9px;
          vertical-align: -8px;
        }
        h4 {
          display: inline-block;
          margin: 2% 0 0.5% 1%;
          font-size: 2.3rem;
        }
        .badge-wrap img {
          height: 38px;
        }
      }
    }

    #prj-pop,
    #prj-brc {
      li:before {
        content: "";
      }
    }

    #prj-ebsrc,
    #prj-pop,
    #prj-brc,
    #prj-travalloon {
      background-attachment: scroll;
    }

    #ed-start {
      img {
        margin-right: 0;
        width: 17%;
      }

      h4 {
        display: block;
        padding-bottom: 0;
        padding-top: 10px;
        font-size: 2rem;
      }
    }

    #news {
      ul {
        width: 100%;
      }
    }

    #career {
      .team {
        width: 100%;
      }

      li {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  h3 {
    font-size: 3rem;
  }
  #wrap {
    .container {
      width: 90%;
    }
    .container.padding-bottom {
      padding-bottom: 80px;
    }
    #btn-top {
      padding: 2.5% 4%;

      &:hover {
        background: #000;
      }
    }

    header {
      background: #fff;

      h1 {
        display: block;
        margin: 0;
        text-align: center;

        #logo {
          width: 90px;
        }
      }
    }
    header.sticky-header {
      #logo {
        width: 90px;
      }
    }

    nav {
      float: none;
      text-align: center;

      ul,
      li {
        display: inline;
      }

      li {
        margin: 0;
      }

      a {
        margin: 0 2%;
        padding: 0.5% 0 2%;
        text-shadow: none;
        color: #222;
      }
    }

    #main-banner {
      margin-top: 80px;

      .txt-wrap {
        top: 37%;
      }

      h2 {
        font-size: 2.2rem;
        line-height: 1;
      }
      p {
        font-size: 1rem;
      }
    }
    #main-content {
      margin-bottom: 0;

      li {
        float: none;
        margin: 6% auto 10%;
        width: 100%;

        &:last-child {
          float: none;
          width: 100%;
        }
      }

      .title:after {
          visibility: hidden;
      }
      .subtitle {
        margin: 0 0 1% 0;
      }
    }

    #about {
      padding: 15% 0;
      background-size: 140%;

      #about-device img {
        width: 90%;
      }

      article {
        width: 100%;
      }
      h3 {
        margin: 4% 0 1%;
        font-size: 2.1rem;
        line-height: 1.2;
      }
    }

    #spindlebooks {
      h3 {
        font-size: 2.1rem;
      }
      h4 {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
      a {
        margin: 3% 1% 7% 0;
        width: 48.5%;

        &:last-child {
          margin-right: 0;
        }
      }
      .card {
        margin: 0;
        width: calc(100%/2);

        &:nth-child(5) {
          width: 100%;

          img {
            width: 56%;
          }
        }
      }

      .list-3 {
        float: none;
        width: 100%;
      }
    }

    .parallax-content {
      .parallax {
        height: 285px;
        background-size: 145%;
        background-position: -38% -15%;
      }

      article {
        padding-bottom: 12%;

        .appicon {
          display: none;
        }
        .badge-wrap img {
          height: 32px;
        }
      }
    }

    #ed-start {
      img {
        width: 30%;
      }

      h4 {
        font-size: 1.6rem;
      }
    }

    #career {
      a {
        padding: 6% 0;

        .ic-share {
          vertical-align: -3px;
        }
      }

      .slider-wrap {
        .nav {
          width: 80px;
          height: 120px;
        }
      }
    }

    #contact {
      dl {
        padding: 30px;
      }
    }
  }
}
